body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#box {
  position: relative;
  width: 100%;
  height: 100vh; /* ESSENCIAL */
  background-color: #f0f0f0;
  overflow: hidden;
}

#gato {
  position: absolute;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
}

#gato:hover {
  cursor: grab;
}

#gato:active {
  cursor: grabbing;
}