body {
    background-image: url('../img/telainicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center center; 
    min-height: 100vh;
    margin: 0;
}

#main {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* botão 1 no canto inferior esquerdo */
.button1 {
    position: absolute;
    bottom: 15px;
    left: 0px; /* distância do canto esquerdo */
}

/* botão 2 ao lado do botão 1 */
.button2 {
    position: absolute;
    bottom: 15px;
    left: 100px; /* ajuste a distância horizontal */
}

.button3 {
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.button3 img {
    width: 1000px;
    height: 1000px;
    image-rendering: pixelated;
    cursor: pointer;
}


button {
    background: none;
    border: none;
    padding: 0;
}

.button1 img,
.button2 img {
    width: 70px;
    height: auto;
    image-rendering: pixelated;
    cursor: pointer;
}
