body{
    background-color: rgb(133, 191, 214) ;
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    position: relative; 
    width: 100vw;
    height: 100vh;
}

.voltaraomenu{
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    background: none;
    cursor: pointer;
}

#ftbotaocomo{
    width: 100px;
    height: auto;
}


.pizzaNivel{
    width: 18em;
    height: 18em;
    position: absolute; 
    z-index: 2; 
}

.blockNivel{
    width: 19.5em;
    height: 19.5em;
    position: absolute; 
    z-index: 2; 
}




#nivel1{ top: 10em; left: 10em; width: 19.7em; height: 19.7em; }
#nivel2{ top: 25em; left: 30em; width: 15.5em; height: 15.5em; }
#nivel3{ top: 32em; left: 55.5em; }
#nivel4{ top: 20em; left: 80em; }
#nivel5{ top: 24em; left: 107em; }

#nivel2Blocked{ top: 23.2em; left: 28.4em; width: 19.6em; height: 19.6em; transform: rotate(-12deg); }
#nivel3Blocked{  top: 31em; left: 55em; transform: rotate(5deg); }
#nivel4Blocked{ top: 19em; left: 79.7em; transform: rotate(14deg); }
#nivel5Blocked{  top: 23em; left: 106.4em; transform: rotate(-8deg); }

#connection-map {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}


#connection-map line {
    stroke-dasharray: 8 8;
}