body{
  background-color: rgb(133, 191, 214) ;
}


#grid {
  position: relative;
  width: 1580px;
  height: 560px;
  margin: 50px auto;
  border: 2px solid #aaa;
  border-radius: 10px;

  /* cria o padrão quadriculado */
  background-image: 
    linear-gradient(to right, #817e7e 1px, transparent 1px),
    linear-gradient(to bottom,#817e7e 1px, transparent 1px);
  background-size: 80px 80px; /* tamanho de cada célula */
  background-color: #969090;
}

#player{
    width: 80px;
    height: 13%; 
    position:fixed; 

}

#arbustos1{
   width: 1580px; 
    height: 220px; 
    position: absolute; /* Alterado de 'fixed' para 'absolute' */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centralização horizontal correta */
    bottom: 0; /* Encosta na parte inferior da grid */
    border-radius: 10px;
}


#arbustos2{
    width: 1580px; 
    height: 220px; 
    position: absolute; /* Alterado de 'fixed' para 'absolute' */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centralização horizontal correta */
    top: 0; /* Encosta na parte superior da grid */
    border-radius: 10px;
}

.carro{
  width: 190px; 
  height: 200px; 
  position: absolute;
}

#carro2{
  margin-left: 697px; 
  margin-top: 95px; 
}

#carro1{
  margin-left: 297px; 
  margin-top: 330px; 
}



.destino{
  position: absolute;
  margin: 0 auto; 
  margin-left: 1450px; 
  margin-top: -43px; 
  width: 270px; 
  height: 680px; 

}

.pet{
  width: 80px; 
  height: 120px;
  position: absolute;
}

#gato{
  margin-left: 1115px; 
  margin-top: 300px; 
}