body{
  background-color: rgb(133, 191, 214) ;
}

#grid {
  position: relative;
  width: 1580px;
  height: 560px;
  margin: 50px auto;
  border: 2px solid #aaa;
  border-radius: 10px;

  /* cria o padrão quadriculado */
  background-image: 
    linear-gradient(to right, #817e7e 1px, transparent 1px),
    linear-gradient(to bottom,#817e7e 1px, transparent 1px);
  background-size: 80px 80px; /* tamanho de cada célula */
  background-color: #a7a2a2;
}

#player{
    width: 80px;
    height: 95px; 
    position:absolute; 

}

#arbustos1{
   width: 1580px; 
    height: 220px; 
    position: absolute; /* Alterado de 'fixed' para 'absolute' */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centralização horizontal correta */
    bottom: 0; /* Encosta na parte inferior da grid */
    border-radius: 10px;
}


#arbustos2{
    width: 1580px; 
    height: 220px; 
    position: absolute; /* Alterado de 'fixed' para 'absolute' */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centralização horizontal correta */
    top: 0; /* Encosta na parte superior da grid */
    border-radius: 10px;
}

.carro{
  width: 190px; 
  height: 200px; 
  position: absolute;
}

#carro2{
  /* margin-left: 697px; -> Mude para 'left' */
  /* margin-top: 95px; -> Mude para 'top' */
  left: 697px; 
  top: 95px; 
}

/* --- CARRO ROSA --- */
#carro1{
  /* margin-left: 297px; -> Mude para 'left' */
  /* margin-top: 330px; -> Mude para 'top' */
  left: 297px; 
  top: 330px;
}

#gato{
  /* margin-left: 1115px; -> Mude para 'left' */
  /* margin-top: 300px; -> Mude para 'top' */
  left: 1115px; 
  top: 300px; 
}

.destino{
  position: absolute;
  /* margin: 0 auto; -> Remova, pois 'left' e 'top' controlam a posição */
  /* margin-left: 1450px; -> Mude para 'left' */
  /* margin-top: -43px; -> Mude para 'top' */
  left: 1450px; 
  top: -43px; 
  width: 270px; 
  height: 680px; 
}

.pet{
  width: 80px; 
  height: 120px;
  position: absolute;
}


#aux_gato{
  margin-left: 1115px; 
  margin-top: 300px; 
}



#box {
  width: 100em;
  height: 5em; /* ESSENCIAL */
  margin: 1em auto;
   background-color: aliceblue;
  border: rgb(204, 201, 39) 0.5em solid ;
  border-radius: 50px; 
}

#drag {
  width: 100em;
  height: 30em; /* ESSENCIAL */
  margin: 2em auto;
 background-color: rgb(198, 205, 211);
  border: rgb(143, 143, 136) 0.5em solid ;
  border-radius: 50px; 
}

.modal{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content{
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}