#container{
    width: 2020px; 
    height: 600px; 
    border: 1px solid gray; 
    position: relative;
    margin: 2em; 
    margin-top: 5em;
}

#player{
    width: 60px;
    height: 70px; 
    position: absolute; 

}
