#grid{
    width: 1580px; 
    height: 600px; 
    border: 1px solid gray; 
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;
    margin-left: 8%; 
    margin-top: 5em;
}

#player{
    width: 4%;
    height: 13%; 
    position:fixed; 

}
