
.carro{
  width: 190px; 
  height: 200px; 
  position: absolute;
}

#carro2{
  /* margin-left: 697px; -> Mude para 'left' */
  /* margin-top: 95px; -> Mude para 'top' */
  left: 697px; 
  top: 95px; 
}

/* --- CARRO ROSA --- */
#carro1{
  /* margin-left: 297px; -> Mude para 'left' */
  /* margin-top: 330px; -> Mude para 'top' */
  left: 297px; 
  top: 330px;
}

#gato{
  /* margin-left: 1115px; -> Mude para 'left' */
  /* margin-top: 300px; -> Mude para 'top' */
  left: 1115px; 
  top: 300px; 
}

