.carro{
  width: 190px; 
  height: 200px; 
  position: absolute;
}

#carro2{
  /* margin-left: 697px; -> Mude para 'left' */
  /* margin-top: 95px; -> Mude para 'top' */
  left: 137px; 
  top: 178px; 
}

/* --- CARRO ROSA --- */
#carro1{
  /* margin-left: 297px; -> Mude para 'left' */
  /* margin-top: 330px; -> Mude para 'top' */
  left: 457px; 
  top: 95px;
}

#gato{
  /* margin-left: 1115px; -> Mude para 'left' */
  /* margin-top: 300px; -> Mude para 'top' */
  left: 1200px; 
  top: 65px; 
}

#gato2{
    left: 800px;
    top: 300px;
}

#carro3{
    left:777px;
    top: 178px;
}

#carro4{
    left: 1177px;
    top: 333px;
}


